.edge {
    width: calc(50vw - 50px);
    height: 10vw;
    max-height: 110px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    background: url(../img/12.svg) no-repeat center;
    background-size: 100% 100%;
  }
  
  .edge_left {
    top: calc(50vh - 4vw - 75px);
    left: -26px;
  }
  
  .edge_right {
    transform: scale(-1, -1);
    top: 51%;
    right: -38px
  }
  
  .team {
    position: relative;
    transition: all 1s;
    right: 20%;
  
    &.team2 {
      transform: scale(-1, -1);
    }
  }
  
  